.about {
    text-align: center;
    background-color: #fff;
    font-size: calc(10px + 2vmin);
    color: #333;
}

.resumeText p,
.missionText h3,
.missionText p {
    padding: 0 3.5rem;
}

.resumeText h1 {
    font-family: Georgia, Times New Roman, serif;
    font-weight: 800;
    font-size: calc(3rem + 6 * (100vw - 375px) / 1065);
    margin: 20px 0;
}

.resume, .info .mission, .rowImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.info {
    max-width: 85vw;
    margin: 0 auto;
}

.info h2, .info h3 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-align: justify;
}

.resumeText p, .info p, .missionText p, .apiText p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 16px;
}

.imageMet, .imageMission {
    width: 100%;
    height: auto;
}

.apiText {
    margin-top: 60px;
}

.custom-spacing-col {
    padding: 0;
    margin: 0;
}