.main {
    text-align: center;
    background-color: #fff;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #333333;
}

.main h1 {
    font-family: Georgia,Times New Roman,Times,serif;
    font-weight: 800;
}

.main p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
}