.department-gallery {
    background-color: #fff;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: #333333;
    padding: 0 100px;
}

.department-gallery h2 {
    font-family: Georgia, Times New Roman, Times, serif;
    font-weight: 600;
    margin: 20px 0;
}

.department-gallery .card-body .card-text {
    font-size: 14px;
}

.page-indicator {
    font-weight: bold;
    font-size: 18px;
}