.App-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e4002b;
}

.nav {
    width: 100%;
}

.nav-container {
    width: 100%;
    background-color: #e4002b;
    padding: 10px 20px;
    margin: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks a img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.navLinks .d-flex .nav-link {
    margin: 0 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
}

.search {
    display: flex;
    align-items: center;
}

.search-icon {
    display: flex;
    align-items: center;
}

.custom-search-button {
    background-color: #e4002b;
    border-color: #e4002b;
    color: white;
  }
  
  .custom-search-button:hover {
    background-color: #a6192e;
    border-color: #a6192e;
  }

  @media (max-width: 1000px) {
    .nav-container {
        margin: 0;
    }
}