.nav {
    background-color: #e4002b;
    padding: 10px 20px;
    margin: 0 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav .navLinks {
    display: flex;
    flex-direction: row;
}

.nav .navLinks a img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.nav .navLinks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav .navLinks ul li {
    display: inline;
    margin: auto 20px 10px;
}

.nav .navLinks ul li a,
.nav p {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
}

.nav .navLinks ul li a:hover {
    text-decoration: underline;
}

.search {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 5px 10px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
  }
  
  .search-button {
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }