.nav {
    background-color: #e4002b;
    padding: 10px 20px;
    margin: 0 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav .navLinks {
    display: flex;
    flex-direction: row;
}

.nav .navLinks a img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.nav .navLinks ul {
    list-style-type: none;
    padding: 0;
}

.nav .navLinks ul li {
    display: inline;
    margin: auto 20px 10px;
}

.nav .navLinks ul li a,
.nav p {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
}

.nav .navLinks ul li a:hover {
    text-decoration: underline;
}